spring:
  application:
    name: Blog
  datasource:
    url: jdbc:postgresql://localhost:5432/01_8106
    username: admin
    password: admin
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  expiration: 86400000
logging:
  level:
    org.springframework.security: DEBUG
