<style>
    *{
        margin: 0;
        padding: 0;
        border: 0;
    }
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
    .post {
        width: 500px;
        height: 400px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .post .user {
        height: 80px;
        position: relative;
        width: 100%;
    }

    .post .user .profile {
        width: 60px;
        height: 60px;
        position: absolute;
        top: 10px;
        left: 10px;
        border-radius: 100%;
    }

    .post .user .username {
        font-size: 14;
        position: absolute;
        bottom: 0px;
        left: 8px;
    }

    .post .body img {
        width: 100%;
        max-height: 300px;
    }

    .post .footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;
        padding-top: 10px;
        padding-bottom: 4px;
        margin-top: 20px;
        border-bottom: solid black 1px;
        box-shadow:  11px 10px 22px 4px;
    }

    .footer img {
        width: 30px;
    }
</style>

<body>
    <div class="post">
        <div class="user">
            <img src="media/logo.jpg" alt="" class="profile">
            <span class="username">@<i>username</i></span>
            <div class="body">
                <img src="media/bg.jpeg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Et sequi numquam aperiam facere dolores rerum officia,
                    perferendis animi, itaque libero perspiciatis illum obcaecati.
                    Ipsa doloribus vero natus libero quae dolorum!</p>
            </div>
            <div class="footer">
                <i><img src="media/like.png"></i>
                <i><img src="media/comment.png"></i>
                <i><img src="media/save.png"></i>
            </div>
        </div>
    </div>
    
    <div class="post">
    <div class="user">
        <img src="media/logo.jpg" alt="" class="profile">
        <span class="username">@<i>username</i></span>
        <div class="body">
            <img src="media/bg.jpeg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Et sequi numquam aperiam facere dolores rerum officia,
                perferendis animi, itaque libero perspiciatis illum obcaecati.
                Ipsa doloribus vero natus libero quae dolorum!</p>
        </div>
        <div class="footer">
            <i><img src="media/like.png"></i>
            <i><img src="media/comment.png"></i>
            <i><img src="media/save.png"></i>
        </div>
    </div>
</div>
</body>